################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UniverceSimulate/CopilotIndices/17.12.38.29086
